<div style="margin-left: 42%">
  <form [formGroup]="authForm"
 (ngSubmit)="onSubmit(authForm.value)">
  <div>
    <label for="username">
      Username
    </label>
    <input id="name" type="text" formControlName="userId">
  </div>

  <div>
    <label for="password"> Password  </label>
    <input type="password"  name="password" id="password" formControlName="password" required>
</div>

<div>
  <button class="button" type="submit">Connexion</button>
</div>
</form>
</div>

<!--

 <form>
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>


</form> -->